template(name="header")
  header
    nav.navbar.navbar-default(role="navigation")
      .navbar-header
        a.navbar-brand(href="{{pathFor 'home'}}") Microscope

      .collapse.navbar-collapse
        ul.nav.navbar-nav
          if currentUser
            li(class="{{activeRouteClass 'home' 'newPosts'}}")
              a(href="{{pathFor 'newPosts'}}") New
            li(class="{{activeRouteClass 'bestPosts'}}")
              a(href="{{pathFor 'bestPosts'}}") Best
            li(class="{{activeRouteClass 'postSubmit'}}")
              a(href="{{pathFor 'postSubmit'}}") Submit Post
            li.dropdown
              +notifications
          
        ul.nav.navbar-nav.navbar-right
          li
            a
              +loginButtons


      
    
