template(name="commentSubmit")
  form.comment-form(name="comment", role="form")
    .class.form-group
      label(for="body") Comment on this post
      textarea.form-control(name="body")

    .class.form-group
      button.btn(type="submit") Add Comment
